html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
}

header h1 {
    padding: 5px 30px;
    margin: 0;
}

header h1 a {
    color: red;
}

nav {
    background: gray;
}

ul {
    display: inline-flex;
}

ul li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

div {
    width: 100%;
}

div main {
    width: 60%;
    float: left;
}

div aside {
    width: 40%;
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
}